webapp/WEB-INF/schemas/events-service/service-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        elementFormDefault="qualified"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="urn://x-artefacts-coko/ege/services/1.0.1"
        targetNamespace="urn://x-artefacts-coko/ege/services/1.0.1"
        >
    <xs:import namespace="urn://x-artefacts-coko/ege/services/exceptions/1.0.1"
            schemaLocation="../common/exceptions.xsd"/>



    <xs:element name="NewRequest" type="tns:NewRequestType"/>

    <xs:element name="NewResponse" type="tns:NewResponseType"/>


    <xs:complexType name="NewRequestType">
        <xs:choice>
            <xs:element name="GetDictionaryContentRequest" type="tns:DictionaryContentRequestType"/>
            <xs:element name="GetEgeResultsRequest" type="tns:EgeResultsRequestType"/>
            <xs:element name="AppealCancelRequest" type="tns:AppealCancelRequestType"/>
            <xs:element name="AppealRequest" type="tns:AppealRequestType"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="NewResponseType">
        <xs:choice>
            <xs:element name="GetDictionaryContentResponse" type="tns:DictionaryContentType"/>
            <xs:element name="GetEgeResultsResponse" type="tns:EgeResultsResponseType"/>
            <xs:element name="AppealCancelResponse" type="tns:AppealCancelResponseType"/>
            <xs:element name="AppealResponse" type="tns:AppealResponseType"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="DictionaryContentRequestType">
        <xs:sequence>
            <xs:element name="Dictionary" >
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="dictionaryName" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DictionaryContentType">
        <xs:sequence>
            <xs:element name="Dictionary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:string" />
                        <xs:element name="Records">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" name="Record">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Id" type="xs:string" />
                                                <xs:element name="Value" type="xs:string" />
                                                <xs:element name="Address" type="xs:string" minOccurs="0"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EgeResultsRequestType">
        <xs:sequence>
            <xs:element name="EgeResultRequest" >
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ServiceCode" type="xs:string"/>
                        <xs:element name="Service_FullName" type="xs:string"/>
                        <xs:element name="IdApplication" type="xs:string"/>
                        <xs:element name="DateApplication" type="xs:date" nillable="true" default="1900-01-01" />
                        <xs:element name="app_type" type="xs:short" default="-2"/>
                        <xs:element name="SNILS" type="tns:SNILSType"/>
                        <xs:element name="ApplicantSurname">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="LastName">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="LastName_gr">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ApplicantName">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="FirstName">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="FirstName_gr">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ApplicantPatronymic">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="second_name">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="second_name_gr">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ApplicantPassportSeries">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="PasSer" type="tns:digits-4">

                                    </xs:element>
                                    <xs:element name="PasSer_gr" type="tns:digits-4">

                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ApplicantPassportNumber">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="PasNum" type="tns:digits-6">

                                    </xs:element>
                                    <xs:element name="PasNum_gr" type="tns:digits-6">

                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="EmailAddress" type="tns:EmailAddressType">
                        </xs:element>
                        <xs:element name="ApplicantPasDate">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="PasDate" type="xs:date" minOccurs="0" default="1900-01-01"/>
                                    <xs:element name="PasDate_gr" type="xs:date" minOccurs="0" default="1900-01-01" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ApplicantPasOrg">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="PasOrg" type="xs:string"/>
                                    <xs:element name="PasOrg_gr" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="MobilePhone" type="tns:PhoneNumberRFType"/>
                        <xs:element name="YearExam" default="3000">
                            <xs:simpleType>
                                <xs:restriction base="xs:short"  >
                                    <xs:minInclusive value="2000" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="CodeSubject" type="xs:string" />
                        <xs:element name="SubjectText">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="255"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EgeResultsResponseType">
        <xs:annotation>
            <xs:documentation> Ответ на запрос о результатах ЕГЭ </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="EgeResult" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Subject">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Id" type="xs:string" />
                                    <xs:element name="Name" type="xs:string" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Total" type="xs:string" />
                        <xs:element name="Grade" type="xs:string" />
                        <xs:element name="PartA">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Mask" type="xs:string" />
                                    <xs:element name="TasksDone" type="xs:string" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="PartB">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Mask" type="xs:string" />
                                    <xs:element name="TasksDone" type="xs:string" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="PartC">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Mask" type="xs:string"  />
                                    <xs:element name="TasksDone" type="xs:string" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="PartD">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Mask" type="xs:string" minOccurs="0" />
                                    <xs:element name="TasksDone" type="xs:string" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="TasksDone" type="xs:string" />
                        <xs:element name="PersentageTasks" type="xs:string" />
                        <xs:element name="CodePPE">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Id" type="xs:string" />
                                    <xs:element name="Name" type="xs:string" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="CodeOY">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Id" type="xs:string" />
                                    <xs:element name="Name" type="xs:string" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="BlankNumber" type="xs:string" />
                        <xs:element name="Blank1" type="xs:string" />
                        <xs:element name="Blank2" type="xs:string" />
                        <xs:element name="MinMark" type="xs:string" />
                        <xs:element name="DateExam" type="xs:string" />
                        <xs:element name="DatePublish" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>

    </xs:complexType>

    <xs:complexType name="AppealCancelRequestType">
        <xs:annotation>
            <xs:documentation>
                Запрос на отмену запроса на апелляцию
            </xs:documentation>
        </xs:annotation>

            <xs:sequence>

                <xs:element name="IdApplication" type="xs:string" minOccurs="1" nillable="false">
                    <xs:annotation>
                        <xs:documentation>
                            Ид запроса на апелляцию ЕПГУ
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AppealCancelResponseType">
        <xs:annotation>
            <xs:documentation>
                Ответ на запрос на отмену запроса на апелляцию
            </xs:documentation>
        </xs:annotation>
            <xs:sequence>
                <xs:element name="IdApplication" type="xs:string" />
                <xs:element name="Result" type="xs:string"/>
                <xs:element name="Message" type="xs:string" minOccurs="1" nillable="false">
                    <xs:annotation>
                        <xs:documentation>
                            Заявление на отмену апелляции принято
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>

    </xs:complexType>

    <xs:complexType name="AppealRequestType">
        <xs:sequence>
            <xs:element name="Appeal">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ServiceCode" type="xs:string" />
                        <xs:element name="Service_FullName" type="xs:string"/>
                        <xs:element name="IdApplication" type="xs:string" />
                        <xs:element name="DateApplication" type="xs:date" default="1900-01-01" />
                        <xs:element name="app_type" type="xs:short" default="-2"/>
                        <xs:element name="SNILS" type="tns:SNILSType"/>
                        <xs:element name="ApplicantSurname">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="LastName">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="LastName_gr">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ApplicantName">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="FirstName" >
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="FirstName_gr" >
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="SecondName" >
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="second_name" >
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="second_name_gr" >
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ApplicantPassportSeries">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="pas_ser" type="tns:digits-4"/>
                                    <xs:element name="pas_ser_gr" type="tns:digits-4"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ApplicantPassportNumber">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="pas_num" type="tns:digits-6"/>
                                    <xs:element name="pas_num_gr" type="tns:digits-6"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="email_address" type="tns:EmailAddressType"/>
                        <xs:element name="phone" type="tns:PhoneNumberRFType"/>

                        <xs:element name="ApplicantPasDate">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="pas_date" type="xs:date" minOccurs="0" default="1900-01-01"/>
                                    <xs:element name="pas_date_gr" type="xs:date" minOccurs="0" default="1900-01-01"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ApplicantPasOrg">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="pas_org" type="xs:string" />
                                    <xs:element name="pas_org_gr" type="xs:string" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="region" type="xs:int" default="43"/>
                        <xs:element name="Cod_sub" type="xs:string" />
                        <xs:element name="edu_sub">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="255"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="date_exam" type="xs:date" default="1900-01-01"/>
                        <xs:element name="code_school" type="xs:string" />
                        <xs:element name="school" type="xs:string" />
                        <xs:element name="code_place_exam" type="xs:string"  />
                        <xs:element name="place_exam" type="xs:string"/>
                        <xs:element name="ap_rev" type="xs:int" default="-2"/>
                        <xs:element name="ap_rev_text" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AppealResponseType" >
        <xs:annotation>
            <xs:documentation>
                Ответ на заявление об апелляции
            </xs:documentation>
        </xs:annotation>

            <xs:sequence>
                <xs:element name="IdApplication" type="xs:string" />
                <xs:element name="Result" type="xs:string"></xs:element>
                <xs:element name="Message" type="xs:string" minOccurs="1" nillable="false">
                    <xs:annotation>
                        <xs:documentation>
                            Сообщение о результате
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="PhoneNumberRFType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
            <xs:pattern value="\d{10}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="EmailAddressType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
            <xs:pattern value="[0-9a-zA-Z_.\-]{2,50}[@]{1}[0-9a-zA-Z_./-]{2,50}[.]{1}[a-zA-Z]{2,5}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="digits-6">
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
            <xs:pattern value="\d{6}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="digits-4">
        <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
            <xs:pattern value="\d{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SNILSType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="11"/>
            <xs:pattern value="\d{11}"/>
        </xs:restriction>
    </xs:simpleType>



</xs:schema>
