webapp/WEB-INF/schemas/common/AppealRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema     targetNamespace="urn://nahodka.ru/services/common/schemas/AppealRequest/1.0.0"
                attributeFormDefault="unqualified" elementFormDefault="qualified"
               xmlns:xs="http://www.w3.org/2001/XMLSchema"
               >
    <xs:complexType name="AppealRequestType">
            <xs:sequence>
                <xs:element name="Appeal">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ServiceCode" type="xs:string" />
                            <xs:element name="Service_FullName" type="xs:string"/>
                            <xs:element name="IdApplication" type="xs:string" />
                        <!--    <xs:element name="ReqId" type="typ:uuid" /> -->
                            <xs:element name="DateApplication" type="xs:date" default="1900-01-01" />
                            <xs:element name="app_type" type="xs:short" default="-2"/>
                         <!-- <xs:element name="applicant_esia_id" type="xs:string" /> -->
                            <xs:element name="SNILS" type="xs:string"/>
                         <!--   <xs:element name="applicant_equals_examinee" type="xs:boolean" default="false"/>-->
                            <xs:element name="ApplicantSurname">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="LastName">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                <xs:maxLength value="255"/>
                                            </xs:restriction>
                                    </xs:simpleType>
                                    </xs:element>
                                        <xs:element name="LastName_gr">
                                            <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                            <xs:maxLength value="255"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ApplicantName">
                            <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="FirstName" >
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="255"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="FirstName_gr" >
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="255"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                            </xs:complexType>
                            </xs:element>
                            <xs:element name="SecondName" >
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="second_name" >
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="255"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="second_name_gr" >
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="255"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ApplicantPassportSeries">
                            <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="pas_ser" >
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="255"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="pas_ser_gr" >
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="255"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                            </xs:complexType>
                            </xs:element>
                            <xs:element name="ApplicantPassportNumber">
                            <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="pas_num" >
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="255"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="pas_num_gr" >
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="255"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                            </xs:complexType>
                            </xs:element>
                            <xs:element name="email_address" >
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="phone" >
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="ApplicantPasDate">
                            <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="pas_date" type="xs:date" minOccurs="0" default="1900-01-01"/>
                                        <xs:element name="pas_date_gr" type="xs:date" minOccurs="0" default="1900-01-01"/>
                                    </xs:sequence>
                            </xs:complexType>
                            </xs:element>
                            <xs:element name="ApplicantPasOrg">
                            <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="pas_org" type="xs:string" />
                                        <xs:element name="pas_org_gr" type="xs:string" />
                                    </xs:sequence>
                            </xs:complexType>
                            </xs:element>
                            <xs:element name="region" type="xs:int" default="43"/>
                            <xs:element name="Cod_sub" type="xs:long" default="-2"/>
                            <xs:element name="edu_sub">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="date_exam" type="xs:date" default="1900-01-01"/>
                            <xs:element name="code_school" type="xs:long" default="-2"/>
                            <xs:element name="school" type="xs:string" />
                            <xs:element name="code_place_exam" type="xs:long" default="-2" />
                            <xs:element name="place_exam" type="xs:string"/>
                            <xs:element name="ap_rev" type="xs:int" default="-2"/>
                            <xs:element name="ap_rev_text" type="xs:string" />

                          <!--  <xs:element name="requested_at" type="xs:dateTime" minOccurs="0"/>
                            <xs:element name="responsed_at" type="xs:dateTime" minOccurs="0"/>
                            <xs:element name="registered_at" type="xs:dateTime" minOccurs="0"/>
                            <xs:element name="registrar" type="xs:integer" minOccurs="0"/>
                            <xs:element name="reg_number" minOccurs="0">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="4"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="canceled_at" type="xs:dateTime" minOccurs="0"  />
                            <xs:element name="commission" type="xs:integer" minOccurs="0"/>
                            <xs:element name="result" type="xs:integer" minOccurs="0"/>
                            <xs:element name="current_state" type="xs:integer" minOccurs="0"/>
                            <xs:element name="state_transferred" type="xs:boolean" default="false"/>-->

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
    </xs:complexType>

</xs:schema>