webapp/WEB-INF/schemas/common/DictionaryContentRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn://nahodka.ru/services/common/schemas/DictionaryContentRequest">
    <xs:complexType name="DictionaryContentRequestType">
        <xs:sequence>
        <xs:element name="Dictionary" >
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="dictionaryName" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>

