webapp/WEB-INF/schemas/common/DictionaryContent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn://nahodka.ru/services/common/schemas/DictionaryContent/1.0.0">
        <xs:complexType name="DictionaryContentType">
                <xs:sequence>
                    <xs:element name="Dictionary">
                        <xs:complexType>
                            <xs:sequence>
                    <xs:element name="id" type="xs:string" />
                    <xs:element name="Records">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="Record">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Id" type="xs:string" />
                                            <xs:element name="Value" type="xs:string" />
                                            <xs:element name="Address" type="xs:string" />
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
        </xs:complexType>
</xs:schema>

