webapp/WEB-INF/schemas/common/EGEResultsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema     targetNamespace="urn://nahodka.ru/services/common/schemas/EGEResultsRequest"
                attributeFormDefault="unqualified" elementFormDefault="qualified"
               xmlns:xs="http://www.w3.org/2001/XMLSchema"
               xmlns:typ="urn://nahodka.ru/services/common/schemas/types"
               >
    <xs:import schemaLocation="types.xsd"
            namespace="urn://nahodka.ru/services/common/schemas/types"/>
    <xs:complexType name="EgeResultsRequestType">
            <xs:sequence>
                <xs:element name="EgeResultRequest" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ServiceCode" type="xs:string"/>
                            <xs:element name="Service_FullName" type="xs:string"/>
                            <xs:element name="IdApplication" type="xs:string"/>
                         <!--   <xs:element name="ReqId" type="typ:uuid"/> -->
                            <xs:element name="DateApplication" type="xs:date" nillable="true" />
                            <xs:element name="app_type" type="xs:short"/>
                         <!--   <xs:element name="ApplicantEsiaId" type="xs:string"/> -->
                            <xs:element name="SNILS" type="xs:string"/>
                            <xs:element name="ApplicantSurname">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="LastName">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="255"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="LastName_gr">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="255"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ApplicantName">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="FirstName">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="255"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="FirstName_gr">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="255"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ApplicantPatronymic">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="second_name">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="255"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="second_name_gr">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="255"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ApplicantPassportSeries">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="PasSer">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="255"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="PasSer_gr">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="255"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ApplicantPassportNumber">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="PasNum">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="255"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="PasNum_gr">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="255"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="EmailAddress">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="ApplicantPasDate">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="PasDate" type="xs:date" minOccurs="0" />
                                        <xs:element name="PasDate_gr" type="xs:date" minOccurs="0" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ApplicantPasOrg">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="PasOrg" type="xs:string"/>
                                        <xs:element name="PasOrg_gr" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="MobilePhone" type="xs:string"/>
                            <xs:element name="ApplicantEqualsExaminee" type="xs:boolean" default="false"/>
                      <!--      <xs:element name="LastName_gr">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="FirstName_gr">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="ExamineePatronymic">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="ExamineePassportSeries">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="ExamineePassportNumber">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element> -->
                            <xs:element name="YearExam">
                                <xs:simpleType>
                                    <xs:restriction base="xs:short">
                                        <xs:minExclusive value="2000"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CodeSubject" type="xs:short"/>
                            <xs:element name="SubjectText">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                       <!--     <xs:element name="RequestedAt" type="xs:dateTime"/>
                            <xs:element name="ResponsedAt" type="xs:dateTime"/>
                            <xs:element name="Response" type="xs:string"/> -->
                        <!--    <xs:element name="CurrentState" type="xs:short"/> -->
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
    </xs:complexType>

</xs:schema>