webapp/WEB-INF/schemas/common/exceptions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="urn://nahodka.ru/services/common/schemas/exceptions/1.0.0"
        elementFormDefault="qualified"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="urn://nahodka.ru/services/common/schemas/exceptions/1.0.0">

    <simpleType name="ErrorCode">
        <annotation>
            <documentation>Код ошибки</documentation>
        </annotation>

        <restriction base="string">
            <annotation>
                <documentation>Перечисление возможных обрабатываемых кодов ошибок сервиса</documentation>
            </annotation>

            <enumeration value="NON_UNIQUE_DATA_SOURCE_CODE">
                <annotation>
                    <documentation>Обнаружено неуникальное значение </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_DIMENSIONS_EXCEPTION">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент Dimensions </documentation>
                </annotation>
            </enumeration>
            <enumeration value="WRONG_REGION_EXCEPTION">
                <annotation>
                    <documentation>Недопустимое значение региона</documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_APPEAL_REQUEST_EXCEPTION">
                <annotation>
                    <documentation>Отсутствует запрос на апелляцию APPEAL REQUEST </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_APPEAL_CANCEL_REQUEST_EXCEPTION">
                <annotation>
                    <documentation>Отсутствует запрос на отмену апелляции APPEAL CANCEL REQUEST </documentation>
                </annotation>
            </enumeration>
            <enumeration value="NOT_FOUND">
                <annotation>
                    <documentation>Результат не найден</documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_DICTIONARY_CONTENT_REQUEST">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент DICTIONARY_CONTENT_REQUEST</documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_REQUEST">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент NEW_REQUEST</documentation>
                </annotation>
            </enumeration>
            <enumeration value="UNKNOWN_REQUEST_EXCEPTION">
                <annotation>
                    <documentation>Тип запроса неизвестен</documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_SERVICE_CODE_EXCEPTION">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент SERVICE_CODE </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_SERVICE_NAME_EXCEPTION">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент SERVICE_NAME </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_ID_APPLICATION_EXCEPTION">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент ID_APPLICATION </documentation>
                </annotation>
            </enumeration>
            <enumeration value="WRONG_DATE">
                <annotation>
                    <documentation>Недопустимое значение DATE_APPLICATION </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_DATE_APPLICATION_EXCEPTION">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент DATE_APPLICATION </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_APP_TYPE_EXCEPTION">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент APP_TYPE </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_SNILS_EXCEPTION">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент SNILS</documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_LAST_NAME_EXCEPTION">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент LAST_NAME и LAST_NAME_GR </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_FIRST_NAME_EXCEPTION">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент FIRST_NAME и FIRST_NAME_GR </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_PASSPORT_SERIES_EXCEPTION">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент PAS_SER и PAS_SER_GR </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_PASSPORT_NUMBER_EXCEPTION">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент PAS_NUM и PAS_NUM_GR </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_PASSPORT_DATE_EXCEPTION">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент PAS_DATE и PAS_DATE_GR </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_PASSPORT_ORG_EXCEPTION">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент PAS_ORG и PAS_ORG_GR </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_APPLICANT_EQUALS_EXAMINEE_EXCEPTION">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент APPLICANT_EQUALS_EXAMINEE </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_YEAR_EXAM_EXCEPTION">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент YEAR_EXAM </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_CODE_SUBJECT_EXCEPTION">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент CODE_SUBJECT </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_SUBJECT_TEXT_EXCEPTION">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент SUBJECT_TEXT </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_EXAM_DATE_EXCEPTION">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент EXAM_DATE </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_CODE_SCHOOL_EXCEPTION">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент CODE_SCHOOL </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_SCHOOL_TEXT_EXCEPTION">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент SCHOOL_TEXT </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_CODE_PLACE_EXAM_EXCEPTION">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент CODE_PLACE_EXAM </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_PLACE_EXAM_EXCEPTION">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент PLACE_EXAM </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_PRESENCE_EXCEPTION">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент PRESENCE </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_PRESENSE_TEXT_EXCEPTION">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент PRESENCE_TEXT </documentation>
                </annotation>
            </enumeration>
            <enumeration value="DICTIONARY_NOT_EXIST">
                <annotation>
                    <documentation>Отсутствует справочник с таким именем </documentation>
                </annotation>
            </enumeration>




            <enumeration value="EMPTY_DIMENSION_NAME">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент DimensionName </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_DIMENSION_TYPE">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент DimensionType </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_DIMENSION_SEPARATED_TABLE">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент Dimension hasSeparatedTable </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_DIMENSION_IS_DELETED">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент Dimension isDeleted </documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_DIMENSION_VALUE_TYPE">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент Dimension ValueType </documentation>
                </annotation>
            </enumeration>
            <enumeration value="NON_EXISTING_DATA_SOURCE_CODE">
                <annotation>
                    <documentation>Указанный DatasourceCode не существует</documentation>
                </annotation>
            </enumeration>
            <enumeration value="INTERNAL_ERROR">
                <annotation>
                    <documentation>Произошла внутренняя ошибка</documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_FACTS">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент Facts</documentation>
                </annotation>
            </enumeration>
            <enumeration value="MISSING_DATE">
                <annotation>
                    <documentation>Отсутствует обязательный элемент DATE_ELEMENT</documentation>
                </annotation>
            </enumeration>
            <enumeration value="NON_UNIQUE_FACT_TYPE_CODE">
                <annotation>
                    <documentation>Обнаружен неуникальное значение FactTypeCode</documentation>
                </annotation>
            </enumeration>
            <enumeration value="NON_EXISTING_FACT_TYPE_CODE">
                <annotation>
                    <documentation>Такой FactTypeCode = CODE не существует</documentation>
                </annotation>
            </enumeration>
            <enumeration value="NON_EXISTING_FACT_VALUE_TYPE_CODE">
                <annotation>
                    <documentation>Такой FactValueTypeCode = CODE не существует</documentation>
                </annotation>
            </enumeration>
            <enumeration value="EMPTY_DIMENSIONS">
                <annotation>
                    <documentation>Отсутствует, либо пуст обязательный элемент Dimensions</documentation>
                </annotation>
            </enumeration>
            <enumeration value="AMBIGIOUS_DIMENSION_REFERENCE">
                <annotation>
                    <documentation>Невозможно определить измерение в таблице фактов</documentation>
                </annotation>
            </enumeration>
            <enumeration value="MISSING_DIMENSION_VALUE">
                <annotation>
                    <documentation>Отсутствует значение справочника указанного измерения без таблицы.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="NON_EXISTING_DIMENSION_CODE">
                <annotation>
                    <documentation>Указанный DimensionCode не существует</documentation>
                </annotation>
            </enumeration>
            <enumeration value="AMBIGIOUS_DIMENSION_REFERENCE">
                <annotation>
                    <documentation>Невозможно определить измерение в таблице фактов</documentation>
                </annotation>
            </enumeration>
            <enumeration value="NON_EXISTING_DIMENSION_IN_FACT_TABLE">
                <annotation>
                    <documentation>Указанное измерение не найдено в таблице фактов.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="MISSING_REFERENCE_LINK_IN_DIMENSION">
                <annotation>
                    <documentation>Отсутствует обязательный элемент ReferenceLink</documentation>
                </annotation>
            </enumeration>
            <enumeration value="NON_EXISTING_EVENT_TYPE_CODE">
                <annotation>
                    <documentation>Указанный EventTypeCode не существует</documentation>
                </annotation>
            </enumeration>
            <enumeration value="NON_EXISTING_DIMENSION_ITEM_CODE">
                <annotation>
                    <documentation>Не существует записи с указанным кодом в справочнике измерений</documentation>
                </annotation>
            </enumeration>
            <enumeration value="DIMENSION_CONFLICT_WITH_SEPARATED_TABLE_USAGE">
                <annotation>
                    <documentation>Предоставленные данные измерения конфилктуют со свойством наличия у измерения справочника</documentation>
                </annotation>
            </enumeration>

            <enumeration value="NOT_ENOUGH_DIMENSIONS">
                <annotation>
                    <documentation>В факте указаны не все измерения</documentation>
                </annotation>
            </enumeration>

            <enumeration value="EMPTY_EGE_REQUEST">
                <annotation>
                    <documentation>Отсутствует запрос на результат ЕГЭ</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>

    <element name="BiException">
        <complexType>
            <sequence>
                <element name="ErrorCode" type="tns:ErrorCode"/>
                <element name="Details"/>
            </sequence>
        </complexType>
    </element>

</schema>